[submodule "bl2/platform/m2354/bsp"]
	path = bl2/platform/m2354/bsplib/bsp
	url = https://github.com/OpenNuvoton/M2354BSP
[submodule "mcuboot"]
	path = lib/ext/mcubootlib/mcuboot
	url = https://github.com/mcu-tools/mcuboot.git
	branch = v2.1.0
[submodule "mbedtls"]
	path = lib/ext/mbedtlslib/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
	branch = v3.6.2
[submodule "bl2/platform/m3331/bsplib/bsp"]
	path = bl2/platform/m3331/bsplib/bsp
	url = ssh://hcrdgit4/M3331/bsp
[submodule "bl2/platform/m55m1/bsplib/bsp"]
	path = bl2/platform/m55m1/bsplib/bsp
	url = https://github.com/OpenNuvoton/M55M1BSP.git
[submodule "bl2/platform/m480/bsplib/bsp"]
	path = bl2/platform/m480/bsplib/bsp
	url = https://github.com/OpenNuvoton/M480BSP.git
[submodule "bl2/platform/m261/bsplib/bsp"]
	path = bl2/platform/m261/bsplib/bsp
	url = https://github.com/OpenNuvoton/M261BSP.git
